POSTGRES_DB = "blog"
POSTGRES_USER = 'blog'
POSTGRES_PASSWORD = 'your_password'
POSTGRES_PORT = 5433

REDIS_PORT = 6379

DATABASE_URL =  'postgresql://blog:your_password@localhost:5433/blog'
REDIS_URL = 'redis://localhost:6379'