.tiptap.ProseMirror {
  code {
    background-color: #3e4451;
    color: #e5c07b;
    border: 1px solid #4b5263;
    font-family: "JetBrains Mono NL", monospace;
    font-size: 0.875em;
    line-height: 1.4;
    border-radius: 6px/0.375rem;
    padding: 0.1em 0.2em;
  }

  pre {
    background-color: #282c34;
    color: #abb2bf;
    border: 1px solid #3e4451;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em;
    font-size: 1rem;
    border-radius: 6px/0.375rem;

    code {
      background-color: transparent;
      border: none;
      border-radius: 0;
      -webkit-text-fill-color: inherit;
      color: inherit;
    }
  }
}

.tiptap.ProseMirror pre {
  .hljs-comment,
  .hljs-quote { color: #5c6370; font-style: italic; }
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-meta { color: #c678dd; }
  .hljs-string,
  .hljs-regexp,
  .hljs-addition { color: #98c379; }
  .hljs-title,
  .hljs-function,
  .hljs-attr,
  .hljs-attribute { color: #61afef; }
  .hljs-number,
  .hljs-literal,
  .hljs-built_in,
  .hljs-type,
  .hljs-symbol { color: #d19a66; }
  .hljs-variable,
  .hljs-template-variable,
  .hljs-deletion { color: #e06c75; }
}

.tiptap-code-language {
  height: 1.75rem;
  max-width: 7rem;
  border: 0;
  border-radius: 0.25rem;
  background: transparent;
  color: inherit;
  font-size: 0.75rem;
}
